<!DOCTYPE html>
<html>
   <head>
      <title>个人主页</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
      <link href="stylesheets/style.css" rel="stylesheet">
      <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
   </head>
   <body class="main">
   <div class="container main_con1">
   	<div class="row clearfix">
      <div class="col-md-12 column">
            <!-- 导航栏 -->
         <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="index">首页</a>
            </div>
               <ul class="nav navbar-nav navbar-left">
                  <li>
                      <a href="#">会议室一览</a>
                  </li>
                  <li class="dropdown">
                      <a href="appointment">会议室预约</a>
                  </li>
               </ul>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">常见问题<strong class="caret"></strong></a>
                     <ul class="dropdown-menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                        <li>
                            <a href="#">Another action</a>
                        </li>
                        <li>
                            <a href="#">Something else here</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">Separated link</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">One more separated link</a>
                        </li>
                     </ul>
                  </li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
               <li>
                   <a>你好！</a>
               </li>
               <li>
                   <a id = "username"><%=username%></a>
               </li>
               <li>
                   <a href="/logout">注销</a>
               </li>
                  <li>
                      <a data-toggle="modal" href="#login-container-002">我的订单</a>
                  </li>
               </ul>
            </div>
            
         </nav>
      </div>
  	</div>
   </div>
  	<div class="container-fluid main_con2">
	<div class="row clearfix row_padding center-block">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-895679">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-895679" class="active">
					</li>
					<li data-slide-to="1" data-target="#carousel-895679">
					</li>
					<li data-slide-to="2" data-target="#carousel-895679">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="images/background.png" style="width: 100%" />
						<div class="carousel-caption">
							<h4>
								系统介绍
							</h4>
							<p>
								多媒体会议预定管理系统包括会议室管理、会议预定管理、部门员工管理、权限管理四大部分，系统支持与门禁系统、短信平台、邮件系统、OA系统等数据对接。
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="images/NBIOT.png" />
						<div class="carousel-caption">
							<h4>
								系统介绍
							</h4>
							<p>
								多媒体会议预定管理系统包括会议室管理、会议预定管理、部门员工管理、权限管理四大部分，系统支持与门禁系统、短信平台、邮件系统、OA系统等数据对接。
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="images/moreFunction.png" />
						<div class="carousel-caption">
							<h4>
								系统介绍
							</h4>
							<p>
								多媒体会议预定管理系统包括会议室管理、会议预定管理、部门员工管理、权限管理四大部分，系统支持与门禁系统、短信平台、邮件系统、OA系统等数据对接。
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-895679" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-895679" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid main_con3">
	<div class="row clearfix row_padding center-block">
		<div class="col-md-12 column">
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="images/small.png" />
						<div class="caption">
							<h3>
								小型会议室   
							</h3>
							<p>
              场景：小组讨论会，适合2-8人
							</p>
							<p>
								 <a class="btn btn-primary center-block" href="appointment">预定</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="images/middle.png" />
						<div class="caption">
							<h3>
								中型会议室
							</h3>
							<p>
								场景：专题研讨会、座谈会，适合10-20人

							</p>
							<p>
								 <a class="btn btn-primary center-block" href="appointment2">预定</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="images/large.png" />
						<div class="caption">
							<h3>
								大型会议室
							</h3>
							<p>
								场景：培训性会议、代表会议，适合20-40人

							</p>
							<p>
								 <a class="btn btn-primary center-block" href="appointment3">预定</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
 <div class="modal fade" id="login-container-002" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog login">
               <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h4 class="modal-title" id="myModalLabel">
                        我的订单
                     </h4>
                  </div>

                                      <!-- 登陆表单 post方式表单各个input要有name -->
                  <form class="form-horizontal" role="form" method="post" action="/login" >
                  <div class="modal-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>
                          房间号
                        </th>
                        <th>
                          预定时段
                        </th>
                        <th>
                          操作
                        </th>
                      </tr>
                    </thead>
                    <tbody id="myApp">
                    </tbody>
                  </table>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 
                  </div>
                  </form>
               </div>
               
            </div>
            
         </div>

      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="javascripts/bootstrap.min.js"></script>
      <script src="javascripts/addLoadEvent.js"></script>
      <script src="javascripts/myAppAcquire.js"></script>
      <script src="javascripts/onClickDeleteApp2.js"></script>


   </body>
</html>